.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 5vw;
}

.container .aboutUsTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: xx-large;
}

.container .aboutUsContent {
  background-color: var(--content-background-color);
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
  border-radius: 20px;
}

.container .aboutUsContent p {
  font-size: large;
  padding: 30px;
}
