.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
    width: 100%;
}

.container .aboutUsTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: xx-large;
}

.container .aboutUsContent {
    background-color: var(--content-background-color);
    margin-top: 100px;
    display: flex;
    justify-content: center;
    border-radius: 20px;
}

.container .aboutUsContent p {
    font-size: large;
    padding: 30px;
    width: 70vw;
}