.teams,
.projects {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 5vw;
}

.teams--title,
.projects--title {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: xx-large;
}

.teams--left h1,
.teams--right h1,
.projects--content h1 {
  border-bottom: solid;
  margin-bottom: 5px;
  width: fit-content;
}

.teams--left h1,
.projects--content h1 {
  border-left: solid;
  border-color: var(--content-background-color);
}

.teams--right h1 {
  border-right: solid;
  border-color: var(--content-background-color);
}

.teams--right,
.teams--left,
.projects--left {
  margin: 50px 0;
  border-radius: 20px;
  background-color: var(--content-background-color);
  padding: 40px;
  height: fit-content;
  transition: 0.5s;
}

.teams--right p,
.teams--left p,
.projects--left p {
  width: 50vw;
  word-wrap: break-word;
}

.teams--left,
.teams--right,
.projects--left {
  display: grid;
}

.teams--left,
.projects--left {
  border-left: solid;
  border-color: var(--content-background-color);
  justify-items: start;
  text-align: start;
}

.teams--right {
  justify-items: end;
  text-align: end;
}

.teams--right:hover,
.teams--left:hover,
.projects--left:hover {
  box-shadow: 0 10px 100px 3px black;
}

.teams--left h1,
.teams--right h1,
.projects--content h1,
.projects--left h1 {
  position: relative;
  border-bottom: none;
  margin-bottom: 5px;
  width: fit-content;
  transition: color 0.5s ease;
}

.teams--left:hover h1,
.teams--right:hover h1,
.projects--content:hover h1,
.projects--left:hover h1 {
  color: var(--faro-color);
}

.teams--left h1::after,
.teams--right h1::after,
.projects--content h1::after,
.projects--left h1::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: transparent;
  transition: 0.5s ease;
}

.teams--left:hover h1::after,
.teams--right:hover h1::after,
.projects--content:hover h1::after,
.projects--left:hover h1::after {
  width: 100%;
  background-color: var(--faro-color);
}