.logo--container {
  position: relative;
  height: 80vh;
  margin: calc(15vh) 5vw;
  border-radius: 20px;
  background-color: var(--content-background-color);
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.logo--title {
  position: absolute; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo--title p {
  margin: 0;
  color: var(--faro-color);
  font-size: 400%;
  font-family: "unbounded", sans-serif;
}

img {
  width: 200px;
}

.logo--content {
  position: absolute;
  bottom: 0;
  width: auto;
  align-self: flex-end;
}

@media (max-width: 768px) {
  .logoContainer {
    margin: 35vh 5vw;
  }
}