.title>p {
  color: var(--faro-color);
}

.content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px 0 10px 0;
  background-color: rgba(39, 39, 39, 0.5);
  backdrop-filter: blur(10px);
  z-index: 2;
}

.content>* {
  overflow: hidden;
}

.navBar {
  width: 80vw;
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  align-items: center;
}

ul {
  display: flex;
  justify-content: center;
  list-style: none;
  text-transform: uppercase;
  flex-wrap: wrap;
  margin: 0px 20px;
}

ul li {
  font-family: "JetBrains Mono", monospace;
  padding: 0px 15px;
  margin: 0px 15px;
  cursor: pointer;
  transition: 0.5s;
  margin: 20px 0;
}

ul li p::after {
  content: ">";
}

ul li p::before {
  content: "<";
}

ul li p::after,
ul li p::before {
  display: inline-block;
  transition: 0.5s;
}

ul li:hover {
  transform: scale(1.3);
}

ul li:hover p::after {
  transform: rotate(180deg);
  color: var(--faro-color);
}

ul li:hover p::before {
  transform: rotate(-180deg);
  color: var(--faro-color);
}

.nav-toggle {
  display: none;
}

button {
  color: black;
}

@media (max-width: 768px) {
  .nav-toggle {
    display: block;
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
  }

  .navBar {
    display: none;
    /* Hide the navigation bar initially */
    /* Rest of your styles for navBar */
  }

  /* When the navBar is active (toggled), display it */
  .navBar.active {
    display: flex;
  }

  ul {
    flex-direction: column;
    /* Stack the list items vertically */
    margin: 0;
    /* Reset the margin */
  }

  ul li {
    padding: 10px 0;
    /* Adjust the padding for better readability */
    margin: 10px 0;
    /* Adjust the margin for better spacing */
  }

  /* You might also want to adjust the font size or other properties of the list items for better readability on smaller screens */
  ul li {
    font-size: smaller;
    /* Example: Reduce the font size */
  }
}

/* Rest of your CSS... */