.slider--content {
    display: flex;
    justify-content: center;
    background-color: var(--content-background-color);
    margin: 10vh 5vw;
    border-radius: 20px;
}

.slide-container {
    width: 100%;
    justify-content: center;
    border-radius: 20px
}

.slide-container h2 {
    text-align: center;
    height: 50px;
}

.slider--arrowprevbutton,
.slider--arrownextbutton {
    height: 100%;
    width: 40px;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    font-size: larger;
    border: none;
    transition: 0.5s ease;
}

.slider--arrowprevbutton {
    border-radius: 20px 0 0 20px;
}

.slider--arrownextbutton {
    border-radius: 0 20px 20px 0;
}

.slider--container div .slider--arrownextbutton:hover,
.slider--container div .slider--arrowprevbutton:hover {
    width: 100px;
    font-size: xx-large;
    color: var(--faro-color);
}

.fade--item {
    display: flex;
    align-items: center;
    height: 50vh;
    flex-direction: column;
    margin: 0 20vw;
}

.fade--item h2 {
    padding-top: 50px;
}