.slider--content {
    display: flex;
    justify-content: center;
    background-color: var(--content-background-color);
    margin: 0 5vw;
}

.slide-container {
    width: 100%;
    border-radius: 20px
}

.slide-container h2 {
    text-align: center;
    height: 50px;
}

div.slider--container div img {
    height: fit-content;
}

button.slider--arrowprevbutton,
button.slider--arrownextbutton {
    height: calc(100% - 50px);
    top: 0;
    width: 0;
    /* background: var(--content-background-color); */
    background: white;
    border: none;
    transition: width 1s ease;
}

.lete,
.rite {
    text-transform: uppercase;
    font-size: large;
    display: none;
    height: 0;
}

div.slider--container div:hover .slider--arrownextbutton,
div.slider--container div:hover .slider--arrowprevbutton {
    width: 100px;
}

div.slider--container div:hover .rite {
    transform: rotate(90deg);
    /* display: inline-block; */
}

div.slider--container div:hover .lete {
    transform: rotate(-90deg);
    /* display: inline-block; */
}

@media (max-width: 100px) {
    .lete, .rite {
        display: inline-block;
    }
}